{
  "users-display-names": {
    "SLACK_ID": "display_name"
  },
  "spell-check" : true,
  "spell_check_bot_username": "User X Spell Checker",
  "spell_check_icon_url": "https://url.of.picture",
  "spell_check_ignored_rules" :  [
    "UPPERCASE_SENTENCE_START",
    "HUNSPELL_NO_SUGGEST_RULE",
    "FRENCH_WHITESPACE",
    "UNPAIRED_BRACKETS",
    "ELISION",
    "HEURES"
  ],
  "spell_check_ignored_categories" :  [
    "CAT_ANGLICISMES"
  ],
  "spell-check-users": [
    "user_x"
  ]
}
