exports.messages = [];
exports.messages['#triggerWord'] = {
    username: "User name",
    icon_url: "http://url.of.picture",
    specific: {
        "tom": [
            "Hi Tom!"
            ],  
        "john": [
            "Hi John"
            ]
    },
    general: [
        "Hi guys",
        "Yes I'm here", 
        "Did you just say %word% ?", 
        "Hello %username% !"
    ]
};
